#Wed Jan 13 19:14:58 GMT 2021
micronaut:
    application:
        name: demoApiKotlinMicronaut
#datasources.default.url=jdbc\:h2\:mem\:devDb;MVCC\=TRUE;LOCK_TIMEOUT\=10000;DB_CLOSE_ON_EXIT\=FALSE
#datasources.default.driverClassName=org.h2.Driver
#datasources.default.username=sa
#datasources.default.password=

datasources:
    default:
        url: jdbc:postgresql://localhost:5432/micronaut
        username: micronaut
        password: micronaut
        enable: true

flyway:
    datasources:
        default:
            locations: classpath:db/databasemigrations

endpoints:
    health:
        details-visible: anonymous
    flyway:
        enabled: true
        sensitive: false